.idea
.settings
.ipynb_checkpoints
# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
dist
/sdmxthon/docs/_build
/sdmxthon/outputTests/
Pipfile.lock
/SDMXthon.egg-info/
/testApi.py
/xml_parsers_test.py