[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
flake8 = "*"

[packages]
lxml = { version = "4.6.1", index = "pypi" }
pandas = { version = "1.2.0", index = "pypi" }
numpy = "==1.19.3"
validators = "*"

[requires]
python_version = "*"
