[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
flake8 = "*"
twine = "*"
wheel = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"

[packages]
lxml = "==4.6.0"
pandas = "==1.4.2"
numpy = "==1.19.3"
validators = "==0.19.0"
requests = "==2.27.1"
xmltodict = "==0.13.0"
flask = "==2.2.5"
flask-cors = "==3.0.10"
ipykernel = "*"

[requires]
python_version = "3.8"
