[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
flake8 = "*"
twine = "*"
wheel = "*"
sphinx = "*"
pydata-sphinx-theme = "*"
pytest-cov = "*"
pytest-xdist = "*"
ipykernel = "*"

[packages]
lxml = "==4.9.1"
pandas = "==1.4.2"
numpy = "==1.22.0"
validators = "==0.19.0"
requests = "==2.31.0"
xmltodict = "==0.13.0"
flask = "==2.2.5"
flask-cors = "==3.0.10"
pytest = "*"

[requires]
python_version = "3.8"
